body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}

.error {
  color: red;
}
th, td {
  border-bottom: 1px solid #ddd;
}
tr {
  height: 1.5rem;
}
tr:hover {background-color: #f5f5f5;}
tr:nth-child(even) {background-color: #f2f2f2;}

body {
  display: flex;
}
.pokemon-detail,
.pokemon-list {
  flex: 50%;
}

.pokemon-list table {
  width: 100%;
}